
TCPserver/.vs/TCPserver/v17/.suo
TCPserver/.vs/TCPserver/v17/Browse.VC.db
TCPserver/.vs/TCPserver/v17/Browse.VC.db-shm
TCPserver/.vs/TCPserver/v17/Browse.VC.db-wal
TCPserver/.vs/TCPserver/v17/Browse.VC.opendb
TCPserver/.vs/TCPserver/v17/DocumentLayout.backup.json
TCPserver/.vs/TCPserver/v17/DocumentLayout.json
TCPserver/.vs/TCPserver/v17/ipch/AutoPCH/e1462e35ac6c3a6e/SERVERPROGRAM.ipch
TCPserver/.vs/TCPserver/v17/ipch/AutoPCH/33c560131f880400/SERVERPROGRAM.ipch
TCPserver/.vs/TCPserver/v17/ipch/AutoPCH/76eda4fb75b1ca4f/VCTMP13372_412451.SERVERPROGRAM.00000000.ipch
TCPserver/.vs/TCPserver/FileContentIndex/a84ce9e1-3a82-412e-8e8b-3c3c37728588.vsidx
